## -*- coding: utf-8 -*-
<%namespace file="base_helper.tmpl" import="*"/>
<%namespace file="helpers.tmpl" import="*"/>
<!DOCTYPE html>
<html lang="${lang}">
<head>
  ${html_head()}
  <%block name="extra_head"></%block>
</head>
<body>
  <div class="container-fluid" id="container">
    <div class="row-fluid">
      <!-- top header -->
      <div class="span12" id="titlecolumn">
        <h1 id="blog-title">
          <a href="${abs_link('/')}" title="${blog_title}">${blog_title}</a>
          <small>  by <a href="${author_url}">${blog_author}</a></small>
        </h1>
        <%block name="belowtitle"></%block>
        <hr>
      </div>

      <!-- content -->
      <div class="row-fluid" id="contentrow">
        <div class="span10" id="contentcolumn">
          <!--Body content-->
          <%block name="content"></%block>
          <!--End of body content-->
          <hr>
          <small>${content_footer}</small>
      </div>

      <!--Sidebar content-->
      <div class="span2" id="sidebar">
        <ul class="unstyled">
          <li>${html_feed_link()}</li>
          <li>${html_sidebar_links()}</li>
          <li>${search_form}</li>
        </ul>
      </div>
      <!--End of sidebar content-->

      ${analytics}
</body>
