<%def name="html_feed_link()">
  <a href="${rss_url}" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="${rss_url}" rel="alternate" type="application/rss+xml">feed</a>
</%def>
