## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace file="custom_helper.tmpl" import="html_tags"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    <div class="postbox">
    <h1><a href='${permalink}'>${title}</a>
        &nbsp;&nbsp;<small>${post.date.strftime(date_format)}</small></h1>
    <small>
        ${helper.html_translations(post)}
        ${html_tags(post)}
    </small>
    <hr>
    ${post.text(lang)}
    ${helper.html_pager(post)}
    ${helper.html_disqus(post)}
    </div>
</%block>
