<%def name="html_tags(post)">
    %if post.tags:
        %for tag in post.tags:
            <a class="tag" href="${_link('tag', tag)}"><span class="badge badge-info">${tag}</span></a>
        %endfor
    %endif
</%def>
